<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}
<article>
    {% block article %}{% endblock %}
</article>
{% endblock %}
</body>
</html>