<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
<header>
    Commons Explorer
</header>
<article>
    <ul>
    {% for country in countries %}
        <li><a href="{{ country.url }}">{{ country.label }}</a></li>
        {% endfor %}
    </ul>
</article>

</body>
</html>