<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Country</title>
  <style type="text/css">
    body {
      font-family: sans-serif;
    }
      table.memberships {
        border-collapse: collapse;
        border: 1px solid #ddd;
      }
      table.memberships td {
        border: 1px solid #ddd;
        padding: 5px;
      }
    table.memberships .party, table.memberships .dates {
      background-color: #d7d9f2;
    }
  </style>
</head>
<body>
<header>
  Commons Explorer
</header>
<article>
  <%= yield %>
</article>

</body>
</html>